TnT/Web References/WebReference/BatchDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.10.238/tnt1.5/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.10.238/tnt1.5/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.10.238/tnt1.5/">
      <s:element name="GetBatchData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pkTypeCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBatchDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBatchDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBatchDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetBatchData" />
  </wsdl:message>
  <wsdl:message name="GetBatchDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetBatchDataResponse" />
  </wsdl:message>
  <wsdl:portType name="BatchDataServiceSoap">
    <wsdl:operation name="GetBatchData">
      <wsdl:input message="tns:GetBatchDataSoapIn" />
      <wsdl:output message="tns:GetBatchDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BatchDataServiceSoap" type="tns:BatchDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBatchData">
      <soap:operation soapAction="http://192.168.10.238/tnt1.5/GetBatchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BatchDataServiceSoap12" type="tns:BatchDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBatchData">
      <soap12:operation soapAction="http://192.168.10.238/tnt1.5/GetBatchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BatchDataService">
    <wsdl:port name="BatchDataServiceSoap" binding="tns:BatchDataServiceSoap">
      <soap:address location="http://192.168.10.238/tnt1.7/BatchDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="BatchDataServiceSoap12" binding="tns:BatchDataServiceSoap12">
      <soap12:address location="http://192.168.10.238/tnt1.7/BatchDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>