TnT/Service References/RFXProcessMsgService/xmlmime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2004/11/xmlmime" targetNamespace="http://www.w3.org/2004/11/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="contentType" type="xs:string" />
  <xs:attribute name="expectedMediaType" type="xs:string" />
  <xs:complexType name="base64Binary">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute ref="xmime:contentType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="hexBinary">
    <xs:simpleContent>
      <xs:extension base="xs:hexBinary">
        <xs:attribute ref="xmime:contentType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>